@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    height: 0;
    background: transparent; /* Optional: just make scrollbar invisible */
}

:root {
    --margin: 0.5rem;

    --bg1: white;
    --bg2: #eeeeee;
    --bg3: #dfdfdf;
    --primary1: #719c39;
    --primary2: #5079e9;
}

* {
    font-family: "Roboto Condensed", sans-serif;
}

body {
    overflow: hidden;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    min-height: 100%;
}
#root,
.App {
    height: 100% !important;
    position: absolute;
    width: 100%;
}

.navbar {
    height: 4rem;
    display: flex;
    flex-direction: row;
}

.blocks {
    padding: var(--margin);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--bg2);
    height: calc(100% - 8rem - 0rem);
    overflow: scroll;
    padding-bottom: 0;
}

.blockSpace {
    padding-top: calc(var(--margin) / 2);
    padding-bottom: calc(var(--margin) / 2);
    max-height: 20rem;
    transition: all 500ms ease-in;
    /* overflow: hidden; */
    box-sizing: border-box;
}

.blockWrapper {
    /* display: flex;
    flex-direction: row; */
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.swipeableBlock {
    transition: transform 0.3s ease;
}

.block {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    /* flex: 1; */
    height: 4.5rem;

    background-color: var(--bg1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;

    transition: all 0.3s ease;

    border-radius: 0.5rem;

    overflow: hidden;
}

.blockPlaying {
    background-color: var(--primary1);
}

.blockPlaying .editButton {
    color: var(--bg1) !important;
}

.blockDeleted {
    max-height: 0 !important;
}

.blockFinished {
    opacity: 0.5;
}

.blockTop {
    padding-top: 5em;
}

.deleteBlock {
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    /* height: 100%; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg3);
    overflow: hidden;
    text-overflow: clip;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.deleteBlockClosed {
    transform: translateX(150%);
}
.deleteBlockOpen {
    transform: translateX(0%);
}

.timeInput {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
    margin: 0;
}

.timeInput::-webkit-slider-runnable-track {
    width: 10rem;
    height: 2rem;
    background-color: var(--bg1);
    border-radius: 0.5rem;
}
.timeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: var(--primary1);
    border-radius: 0.5rem;
}

.editButton {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    color: var(--primary1);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}

.editButton:active {
    background-color: var(--bg1);
}

.centeredIcon {
    vertical-align: baseline;
    font-size: 1.5rem;
    transform: scale(0.7);
    margin-left: 0.5rem;
}

.roundSpan {
    border-radius: 0.5rem;
    background-color: var(--bg2);
    padding: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    height: 1.5rem;
    /* pointer-events: none; */
}

.blockInput {
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 1.5rem;
    flex: 1;
}

.blockInputForm {
    display: flex;
    flex-direction: row;
    height: auto;
    border-top: 2px solid var(--bg2);
    box-sizing: border-box;
}

.createButton {
    display: flex;
    height: 4rem;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background-color: var(--bg1);
    color: var(--primary1);
    transition: all 0.1s ease;
}

.createButton:active {
    background-color: var(--bg3);
}

.blockTextWrapper {
    display: flex;
    flex: 1;
    align-items: center;
    pointer-events: none;
    overflow: hidden;
    /* box-sizing: border-box; */
    /* padding-right: 1rem;     */
    margin-right: 0.5rem;
}

.blockText {
    vertical-align: middle;
    margin: 0;
    pointer-events: all;
    height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    /* text-overflow: ellipsis; */
    /* max-width: 50vw; */
    white-space: nowrap;
    overflow: visible;

    border: none;
    outline: none;

    background-color: transparent;

    width: 100%;

    /* overflow-x: hidden;
    overflow-y: visible; */
    transition: text-shadow 0.1s cubic-bezier(0, 0, 0.01, 0.99);
}

.blockTags {
    max-width: 40%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin-right: 0.5rem;
}
.blockTags:last-child {
    margin-right: 0;
}

.tagLink {
    text-decoration: none;
    color: #0080ff;
}
.tagLink:hover {
    text-decoration: underline;
}

.pulse {
    text-shadow: 0px 5px 0px var(--primary1);
}

.button {
    height: 2.5rem;
    font-size: 1.25rem;
    background-color: var(--bg2);
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    font-weight: bold;
    transition: all 0.1s ease;
}

.button:hover {
    background-color: var(--bg3);
}

.playContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 4rem;
    z-index: 100;
    pointer-events: none;
}

.playButton {
    height: 3rem;
    /* aspect-ratio: 1/1; */
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 0.5rem;
    outline: none;
    color: var(--primary1);
    background-color: var(--bg1);
    transition: all 0.1s ease;
    pointer-events: all;
    border: 2px solid var(--bg3);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.playButton:active {
    background-color: var(--bg3);
    border: 2px solid var(--bg3);
}

.stackLength {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    color: black;
    padding-left: 0.5rem;
}

.divideBar {
    width: 100%;
    height: 0.7rem;
    background-color: var(--primary1);

    /* margin-top: calc(var(--margin) / 2); */
    margin-bottom: calc(var(--margin) / 2);

    border-radius: 0.5rem;
}

.transitionIcon {
    transition: all 0.3s ease;
}
