.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

:root {
    --margin: 0.5rem;
}

body {
    overflow: hidden;
}

.navbar {
    height: 8vh;
    display: flex;
    flex-direction: row;
}

.blocks {
    padding: var(--margin);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 84vh;
    overflow: scroll;
}

.blockSpace {
    padding-top: calc(var(--margin) / 2);
    padding-bottom: calc(var(--margin) / 2);
}

.swipeableBlock {
    transition: transform 0.3s ease;
}

.block {
    /* width: 100%; */
    flex: 1;
    display: flex;
    flex-direction: row;
    height: auto;

    background-color: coral;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;

    transition: transform 0.3s ease;

    border-radius: 0.5rem;
}

.deleteBlock {
    transition: max-width 0.3s ease;
    /* height: 100%; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    overflow: hidden;
    text-overflow: clip;
}

.blockInput {
    height: 8vh;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 3vh;
}

.button {
    height: 6vh;
    font-size: 2vh;
    background-color: blue;
    border: none;
    outline: none;
    border-radius: 0.5em;
    padding-left: 2vh;
    padding-right: 2vh;
    box-sizing: border-box;
    font-weight: bold;
}
